body{
    margin: auto;
    background-color: antiquewhite;
}

#wrapper{
    background-color: white;
}

.jumbotron{
    background-color: rgb(0,0,128);
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

#searchParameter{

}

#searchTerm{
    padding: 20px;
    margin: auto;    
}

#records{
    padding: 20px;
}

#startYear{
    padding: 20px;
}

#endYear{
    padding: 20px;
    margin: auto;
}

#search{
    padding: 20px;
    background-color: white;    
}

#search:hover{
    background-color: navy;
    color:white;
}

#theArticle{
    padding: 20px;
    background-color: white;
}

#theArticle:hover{
    background-color: navy;
    color:white;
}


p{
    margin-left: 20px;    
    font-size: 20px;
}

